.tecnologia{
    max-height: calc(50vh - 96px);
    min-height: calc(50vh - 96px);
    grid-column: span 6;
    grid-row: span 2;
    h2{
        text-shadow: 1px 1px rgb(34, 54, 44),
                    -1px 1px rgb(34, 54, 44),
                    1px -1px rgb(34, 54, 44),
                    -1px -1px rgb(34, 54, 44);
        }

    &:hover{
        box-shadow: 0 4px hsla(120, 14%, 50%, 0.7);
        transform: translateY(4px);
        background-color: hsla(120, 14%, 62%, 0.7);
        
        .caja{
            background-color: hsla(120, 17%, 38%, 0.7);
        }
    }
}


.cont {
    padding: 24px 16px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, calc(20% - 6px));
    justify-content: center;
    gap: 6px;
}