.card{
    max-height: 150px;
    min-height: 150px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 16px 8px 16px;
    gap: 10px;
    clip-path: polygon(
        0 0,
        0 calc(100% - 24px),
        24px 100%,
        100% 100%,
        100% 24px,
        calc(100% - 24px) 0
        );
    background-color: var(--fondo-cards);
    color: ivory;
    border-radius: 16px;
    backdrop-filter: blur(3px);
}

.card p{
    align-self: flex-start;
    white-space: balance;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card h3{
    align-self: baseline;
    text-shadow: 2px 2px rgba(94, 15, 15, 0.747);
}

.card button{
    width: calc(100% - 24px);
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    align-self: center;
    background-color: #0A2D27;
    box-shadow: inset -1px -1px #054238b9;
    color: ivory;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    width: 96%;
    height: 96%;
}