.descarga{
    grid-column: span 2;
    min-height: calc(35vh - 96px);
    max-height: calc(35vh - 96px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    &:hover{
        box-shadow: 0 4px #a39e96;
        transform: translateY(4px);
    }
}

.descarga a{
    display: block;
    text-decoration: none;
    width: 50%;
    background-color: var(--fondo-cards);
    border-radius: 8px;
    padding: 8px;
    backdrop-filter: blur(3px);
    color: ivory;
    text-shadow: 1px 1px black,
                1px -1px black,
                -1px 1px black,
                -1px -1px black;
}