.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 75%;
    height: 92%;
    z-index: 5;
    border-radius: 16px;
    background-color: var(--fondo-seccion);
    backdrop-filter: blur(3px);
    padding: 16px 40px;
    box-shadow: 0 2px 5px rgba(59, 22, 53, 0.8);
}

.modal .icon{
    font-size: 32px;
    position: absolute;
    top: 16px;
    right: 40px;
    cursor: pointer;
}

.modal h1{
    font-size: 32px;
    width: 80%;
    margin: 0 auto;
}

.modal h2{
    font-size: 24px;
    text-align: left;
    text-shadow: 2px 2px 5px black,
                -2px 2px 5px black,
                2px -2px 5px black,
                -2px -2px 5px black;
    margin: 16px 0 8px 0;
    text-align: left;
}

.modal .izq, .modal .der{
    width: calc(50% - 8px);
    height: 90%;
    margin-top: 16px;
    background-color: hsla(0, 100%, 90%, 0.75);
    border-radius: 8px;
    padding: 16px;
    box-shadow: inset -1px -1px 3px #1f3816;
    position: relative;
    backdrop-filter: blur(2px);
}

.izq{
    float: left;
}

.der{
    float: right;
}

.izq img{
    width: 80%;
    border-radius: 8px;
    margin: 0 auto;
    min-height: 257px;
}

.desc{
    text-align: left;
    line-height: 20px;
    letter-spacing: 1px;
}

.der ul{
    margin-left: 64px;
    list-style-type: "</>  ";
    text-align: left;
    color: black;
}

.der li{
    font-size: 15px;
    padding: 4px 4px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 18px
}

hr{
    border: 1px solid var(--fondo-seccion);
    margin-block: 16px;
}

.botones{
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
}

.der a{
    font-size: 24px;
    text-shadow: -2px -2px rgba(0, 0, 0, 0.3);
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 16px ;
    background-color: hsla(323, 67%, 60%, 0.75);
    border-radius: 16px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.izq p{
    color: black;
    font-weight: 600;
}

@media screen and (width < 475px) {
    .modal{
        width: 95%;
        padding: 16px 8px;
    }

    .der, .izq{
        float: none;
    }
    
    .modal .izq, .modal .der{
        width: 100%;
        height: auto;
        margin: 0;
    }

    .modal img{
        min-height: 239px;
    }

    .modal .izq{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: inset -1px -1px 3px #1f3816;
        margin-top: 16px;
    }

    .modal .der{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .botones{
        position: static;
        transform: none;
        gap: 16px;
    }

    .modal .icon{
        font-size: 28px;
        top: 8px;
        right: 8px;
    }

    .izq img{
        width: 100%;
        border-radius: 8px;
        margin: 0 auto;
    }
    .modal h2{
        font-size: 20px;
    }
}