*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --titulo: #fffff0;
    --fondo-seccion: #d9d9d921;
    --sombra-seccion: #d9d9d950;
}

body{
    background-image: url('/img/milky-way-2695569_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    max-height: 100vh;
    padding: 48px;
    color: var(--titulo);
    
}

main{
    min-height: calc(100vh - 96px);
    max-height: calc(100vh - 96px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(150px 1fr));
    column-gap: 16px;
    row-gap: 16px;
}

section {
    background-color: var(--fondo-seccion);
    border-radius: 16px;
    box-shadow: 0 4px var(--sombra-seccion);
    text-align: center;
    padding: 22px;
}