html{
    font-size: 14px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Variable', sans-serif;
}

:root{
    --titulo: #fffff0;
    --fondo-seccion: hsla(353, 42%, 78%, 0.75);
    --fondo-cards: hsla(353, 48%, 12%, 0.75);
    --sombra-seccion: hsla(353, 35%, 60%, 0.7);
    --html: rgba(229, 83, 46, 0.7);
    --css: rgba(10, 114, 194, 0.7);
    --javascript: rgba(247, 223, 37, 0.7);
    --typescript: rgba(55, 125, 200, 0.7);
    --bootstrap: rgba(141, 26, 255, 0.7);
    --react: rgba(101, 218, 251, 0.7);
    --react-native: rgba(72, 127, 236, 0.7);
    --vsc: rgba(59, 164, 234, 0.7);
    --git: rgba(233, 77, 49, 0.7);
    --github: rgba(8, 8, 8, 0.7);
}

body{
    background-color: #181818;
    background-image: url("/img/cherry-blossoms-6153384_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-height: 100vh;
    padding: 48px;
    overflow-y: hidden;
}

main{
    min-height: calc(100vh - 96px);
    max-height: calc(100vh - 96px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8%, 1fr));
    column-gap: 16px;
    row-gap: 16px;
}

section {
    overflow-y: auto;
    background-color: var(--fondo-seccion);
    border-radius: 16px;
    box-shadow: 0 8px var(--sombra-seccion);
    text-align: center;
    padding: 14px;
    h1{
        color: var(--titulo);
        text-shadow: 2px 2px 5px black,
                    -2px 2px 5px black,
                    2px -2px 5px black,
                    -2px -2px 5px black;
        font-size: 24px;
        font-family: 'Salsa', system-ui;
        letter-spacing: 1.5px;
    }
    h2{
        color: #fffff0;
    }
}

@media screen and (width < 475px) {
    body{
        padding: 18px 24px;
    }
    main{
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow-y: scroll;
        min-height: calc(100vh - 36px);
        border-radius: 19px;
    }
}