.certificados{
    max-height: calc(50vh - 96px);
    min-height: calc(50vh - 96px);
    grid-column: span 4;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
    

    &:hover{
        box-shadow: 0 4px hsla(180, 31%, 65%, 0.7);
        transform: translateY(4px);
        background-color: hsla(180, 31%, 74%, 0.7);
        
        .lista::-webkit-scrollbar{
            background-color: hsla(180, 35%, 65%, 0.7);
            height: 8px;
            border-radius: 8px;
        }
        
        .lista::-webkit-scrollbar-thumb{
            background-color: hsla(180, 42%, 78%, 0.75);
            height: 8px;
            border-radius: 8px;
            box-shadow: inset -0.5px -0.5px 1px hsla(180, 81%, 18%, 0.725);
        }

        .certificado{
            background-color: hsla(190, 15%, 30%, 0.7);
        }
    }
}

.certificados .lista{
    height: 90%;
    display: flex;
    align-items: center;
    overflow-y: auto;
    gap: 8px ;
    padding: 4px;
}

.lista::-webkit-scrollbar{
    background-color: hsla(353, 35%, 65%, 0.7);
    height: 8px;
    border-radius: 8px;
}

.lista::-webkit-scrollbar-thumb{
    background-color: hsla(353, 42%, 78%, 0.75);
    height: 8px;
    border-radius: 8px;
    box-shadow: inset -0.5px -0.5px 1px #4c0955b9;
}

@media screen and (width < 475px) {
    .certificados{
        order: 4;
    }

    .certificados .lista{
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow-x: scroll;
    }
}