.sobremi{
    min-height: calc(35vh - 96px);
    max-height: calc(35vh - 96px);
    overflow-y: auto;
    grid-column: span 4;
    box-shadow: 0 8px #a8a8a8ec;
    &:hover{ 
        box-shadow: 0 4px #a8a8a8ec;
        transform: translateY(4px);
    }
}

.sobremi p{
    width: 90%;
    padding: 8px;
    text-align: left;
    margin: 4px auto 0;
    border-radius: 12px;
    font-size: 16px;
    line-height: 22px;
}

@media screen and (width < 475px){
    .sobremi{
        padding: 16px 8px;
        min-height: 25vh;
        order: 1;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}